body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4f6276;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4b203a;
}
.or{align-items: center;

}
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    text-decoration: none;
    background-color: #4b203a;
    color: white;
    border-radius: 4px;
}

.pagination a.active {
    font-weight: bold;
    background-color: #4b203a;
}

.pagination a:hover {
    background-color: #e7dde3;
}
